<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>90</integer>
    <key>angleVariance</key>
    <integer>111</integer>
    <key>blendFuncDestination</key>
    <integer>771</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <real>0.05</real>
    <key>finishColorGreen</key>
    <real>0.15</real>
    <key>finishColorRed</key>
    <real>0.34</real>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>0</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>-1000</integer>
    <key>maxParticles</key>
    <integer>42</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <integer>2</integer>
    <key>particleLifespanVariance</key>
    <real>0.5</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>39</integer>
    <key>rotationStartVariance</key>
    <integer>329</integer>
    <key>sourcePositionVariancex</key>
    <integer>120</integer>
    <key>sourcePositionVariancey</key>
    <integer>0</integer>
    <key>sourcePositionx</key>
    <real>381.9572649572649</real>
    <key>sourcePositiony</key>
    <real>976.7464387464387</real>
    <key>speed</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <integer>0</integer>
    <key>startColorAlpha</key>
    <real>0.4</real>
    <key>startColorBlue</key>
    <real>0.3</real>
    <key>startColorGreen</key>
    <real>0.6</real>
    <key>startColorRed</key>
    <real>0.75</real>
    <key>startColorVarianceAlpha</key>
    <real>0.75</real>
    <key>startColorVarianceBlue</key>
    <real>0.2</real>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>7</integer>
    <key>startParticleSizeVariance</key>
    <integer>35</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>spriteFrameUuid</key>
    <string>0caef555-7831-4ff1-b129-d8f4d40cd916</string>
  </dict>
</plist>